/* Give your page a fun background color */
body {
    display: flex;
    flex-direction: column;
    width: 100%;
}
header {
    background-color: teal;
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    justify-content: center;
    margin: none;
    border: none;
    align-items: center;
    color:blanchedalmond;
}

#main-content {
    
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
}
#list-content {
    background-image: radial-gradient(gray 0%, rgb(66, 65, 65) 85%, black 100%);
    width: 100%;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2rem;
    color: orangered;
}
img {
    border: solid 1rem black;
    margin: auto;
    width: 30rem;
}
footer {
    background-color: teal;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

p {
    color: blanchedalmond;
    font-style: italic;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#author {
    align-items: right;
    justify-content: right;
    padding:0 19.7rem 0 0;
    margin-top: none;
}
/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */